<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>AMPATH Developers (Oliver Mwalo, Nicholas Ingosi, Antony Ojwang', Alfayo Kwatuha, Jeremy Keiper, Willa)</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AmrsReportModuleActivator</activator>
	
	<require_modules>
        <require_module version="${reportingVersion}">org.openmrs.module.reporting</require_module>
        <require_module version="${drughistoryVersion}">org.openmrs.module.drughistory</require_module>
    </require_modules>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.AmrsReportAdminExt</class>
	</extension>
	
	<!-- Maps hibernate files, if present -->
	<mappingFiles>
        MOHFacility.hbm.xml
        QueuedReport.hbm.xml
		UserFacility.hbm.xml
        HIVCareEnrollment.hbm.xml
	</mappingFiles>
	
	<!-- Required Privileges -->
	<privilege>
		<name>Manage AMRSReports</name>
		<description>Allows user to access Amrs reports pages/functions</description>
	</privilege>


	<!-- Required Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.MOHFacilityCode</property>
		<defaultValue>15204</defaultValue>
		<description>
			Site specific Master facility code that is available on http://www.ehealth.or.ke/facilities/
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.file_dir</property>
		<defaultValue>${project.parent.artifactId}</defaultValue>
		<description>Directory for storing rendered reports</description>
	</globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.cccIdentifierType</property>
        <defaultValue></defaultValue>
        <description>Identifier type for CCC Number identifiers</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.tbRegistrationAttributeType</property>
        <defaultValue>17</defaultValue>
        <description>Person Attribute Type for TB Registration Number</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.productionServerURL</property>
        <defaultValue>https://amrs.ampath.or.ke/amrs</defaultValue>
        <description>URL for accessing the production server when creating patient identifiers.</description>
    </globalProperty>
    <!-- /Required Global Properties -->
	
	<dwr>
        <allow>
            <create creator="new" javascript="DWRAmrsReportService">
                <param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRAmrsReportService"/>
                <include method="viewMoreDetails"/>
                <include method="viewMoreDetailsRender"/>
                <include method="downloadCSV"/>
                <include method="downloadPDF"/>
                <include method="getCohortCountForFacilityPerProvider"/>
                <include method="getCohort"/>
                <include method="startTaskRunner"/>
                <include method="stopTaskRunner"/>
                <include method="getTaskRunnerStatus"/>
                <include method="getFacilityName"/>
                <include method="getFacilityCode"/>
                <include method="getPatientCountMissingCCCNumbersInFacility"/>
                <include method="getPatientUuidsMissingCCCNumbersInFacility"/>
                <include method="assignMissingIdentifiersForFacility"/>
                <include method="getPreARTEnrollmentLocationUuidForPatientUuid"/>
                <include method="isReportRunnerScheduledTaskOn"/>
            </create>
            <convert match="org.openmrs.module.amrsreports.UserFacility" converter="bean" />
            <convert match="org.openmrs.Location" converter="bean" />
            <convert match="org.openmrs.User" converter="bean"/>
        </allow>

        <signatures>
            <![CDATA[
			import ${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRAmrsReportService;
			DWRAmrsReportService.viewMoreDetails(String file, String amrsid);
			DWRAmrsReportService.viewMoreDetailsRender(String bff, String id);
			DWRAmrsReportService.downloadCSV(String csvFile);
			DWRAmrsReportService.downloadPDF(String file);
        	DWRAmrsReportService.getCohortCountForFacilityPerProvider(Integer facilityId, Date evaluationDate);
            DWRAmrsReportService.getCohort(Integer locationId, Date evaluationDate);
            DWRAmrsReportService.startTaskRunner(String taskName);
            DWRAmrsReportService.stopTaskRunner();
            DWRAmrsReportService.getTaskRunnerStatus();
            DWRAmrsReportService.getFacilityName(Integer facilityId);
            DWRAmrsReportService.getFacilityCode(Integer facilityId);
            DWRAmrsReportService.getPatientCountMissingCCCNumbersInFacility(Integer facilityId);
            DWRAmrsReportService.getPatientUuidsMissingCCCNumbersInFacility(Integer facilityId);
            DWRAmrsReportService.assignMissingIdentifiersForFacility(Integer facilityId);
            DWRAmrsReportService.getPreARTEnrollmentLocationUuidForPatientUuid(String patientUuid);
            DWRAmrsReportService.isReportRunnerScheduledTaskOn();
			]]>
        </signatures>
    </dwr>
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

