<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
	
	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>AMPATH Developers (Oliver Mwalo, Nicholas Ingosi, Antony Ojwang', Alfayo Kwatuha, Jeremy Keiper)</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.AmrsReportModuleActivator</activator>
	
	<require_modules>
		<require_module version="0.7.0">org.openmrs.module.reporting</require_module>
	</require_modules>
	<require_version>1.8.0</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.AmrsReportAdminExt</class>
	</extension>
	
	<!-- Maps hibernate files, if present -->
	<mappingFiles>
		UserLocation.hbm.xml
		UserReport.hbm.xml
	</mappingFiles>
	
	<!-- Required Privileges -->
	<privilege>
		<name>Manage AMRSReports</name>
		<description>Allows user to access Amrs reports pages/functions</description>
	</privilege>


	<!-- Required Global Properties -->
	<globalProperty>
		<property>${project.parent.artifactId}.MOHFacilityCode</property>
		<defaultValue>15204</defaultValue>
		<description>
			Site specific Master facility code that is available on http://www.ehealth.or.ke/facilities/
		</description>
	</globalProperty>
	<globalProperty>
		<property>${project.parent.artifactId}.file_dir</property>
		<defaultValue>amrsreport/files</defaultValue>
		<description>Directory for storing file temporarily for processing</description>
	</globalProperty>
	<!-- /Required Global Properties -->
	
	<dwr>
		<allow>
			<create creator="new" javascript="DWRAmrsReportService">
				<param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRAmrsReportService"/>
				<include method="viewMoreDetails"/>
				<include method="viewMoreDetailsRender"/>
				<include method="downloadCSV"/>
				<include method="downloadPDF"/>
				<include method="purgeUserLocation"/>
				<include method="saveUserLoc"/>
				<include method="purgeMultiplePrivileges"/>
				<convert match="org.openmrs.module.amrsreport.UserLocation" converter="bean" />
				<convert match="org.openmrs.Location" converter="bean" />
				<convert match="org.openmrs.User" converter="bean"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import ${project.parent.groupId}.${project.parent.artifactId}.web.dwr.DWRAmrsReportService;
			DWRAmrsReportService.viewMoreDetails(String file,String amrsid);
			DWRAmrsReportService.viewMoreDetailsRender(String bff,String id);
			DWRAmrsReportService.downloadCSV(String csvFile);
			DWRAmrsReportService.downloadPDF(String file);
			DWRAmrsReportService.alertInput(String loc,String userr);
			DWRAmrsReportService.saveUserLoc(Integer suser,Integer syslocc);
			DWRAmrsReportService.purgeUserLocation(Integer rowid);
			DWRAmrsReportService.purgeMultiplePrivileges(ArrayList myList);
			]]>
		</signatures>	
	</dwr>
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name> 
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>${project.parent.groupId}.${project.parent.artifactId}.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->
	
	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

