/*.tblformat tr:nth-child(odd) {
    background-color: #009d8e;
    color: #FFFFFF;
}
.tblformat tr:nth-child(even) {
    background-color: #d3d3d3;
    color: #000000;
}*/

.tblformat tr:nth-child(odd) td {
    background-color: #eee;
}

.tblformat tr:nth-child(odd) th {
    background-color: #ddd;
}

.tblformat tr:nth-child(even) td {
    background-color: #d3d3d3;
}

.tblformat tr:nth-child(even) th {
    background-color: #bbb;
}

.queued { }
.running { font-style: italic; }

.visualPadding {
    margin: 1em;
}

.newline {
    clear: both;
    display: block;
}
