.tblformat tr:nth-child(odd) {
    background-color: #009d8e;
    color: #FFFFFF;
}
.tblformat tr:nth-child(even) {
    background-color: #d3d3d3;
    color: #000000;
}

.queued { }
.running { font-style: italic; }

.visualPadding {
    margin: 1em;
}

.newline {
    clear: both;
    display: block;
}
